{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About
{% endblock %}

{% block body %}
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita harum ipsam, iure perspiciatis quam quod rerum ut. Accusamus accusantium alias aspernatur assumenda atque blanditiis commodi consectetur dolor eaque, eligendi enim excepturi impedit itaque laboriosam laborum magnam neque non possimus quia reprehenderit sapiente sint soluta, tempore ullam voluptatem? A adipisci aliquid animi architecto at atque beatae blanditiis consequatur dicta dolores eligendi eum explicabo harum id in inventore ipsum labore laboriosam laudantium magni minima numquam obcaecati optio pariatur porro possimus quaerat, quasi quibusdam quidem, repellat saepe sit suscipit tempora tempore velit veniam voluptas. Debitis exercitationem expedita harum hic labore possimus quaerat sint!</p>
{% endblock %}

