<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main_home') }}">
            <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List logo" width="30" height="24" class="d-inline-block align-text-top">
            Bucket-List
        </a>
        <a href="{{ path('main_about') }}">About us</a>
        <a href="{{ path('wish_list') }}">Wish list</a>
    </div>
</nav>
