{% extends 'base.html.twig' %}

{% block body %}
    <h2>Détail d'un souhait</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur autem, blanditiis commodi corporis debitis dignissimos distinctio eius, esse exercitationem fugiat hic illo incidunt inventore ipsa iure, laboriosam maxime mollitia necessitatibus officia officiis pariatur quaerat qui quos similique temporibus tenetur ullam! Deleniti facilis mollitia odio qui, rerum sed veritatis voluptatibus.</p>
{% endblock %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

