{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des souhaits</h2>
    <section>
        <ul>
            {% for wish in wishes %}
                <li><a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | Liste
{% endblock %}

