{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des souhaits</h2>
    <ul>
        <li>Souhait 1</li>
        <li>Souhait 2</li>
        <li>Souhait 3</li>
    </ul>
{% endblock %}

{% block title %}
    {{ parent() }} | Liste
{% endblock %}

