body {
    background-color: aliceblue;

}

img{
    width: 40px;
}

main{
    min-height: 100vh;
}



.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: lawngreen
}

.flash-error {
    background-color: red
}
